body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.header {
    background-color: lightblue;
    height: 280px;
    padding: 16px 0 0 0;
}


.title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;
}

.description {
    color: #FFFFFF;
    margin: 24px auto;
    text-align: center;
    max-width: 384px;
}

.description1 {
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
}

.sub-title {
    color: #222222;
    margin: 24px auto;
    text-align: center;
}


.dropdown1 {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 45px;
    margin: -70px auto 0px auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}
